{% extends "react_app.html" %}
{% load staticfiles %}

{% block title %}{{ class_name }} | Creator{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/creator.css" %}" />
{% endblock %}

{% block scripts_head %}
{% endblock %}

{% block nav_items %}
    {% include "nav.html" with app="creator" %}
{% endblock %}

{% block footer_class %}
    light-blue darken-3
{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script type="text/javascript">
        window.$context = {
            class_name: "{{ class_name |escapejs }}",
            user: "{{ username }}",
            clicker_class: {{ class_json |safe }},
            interactions: {{ interactions_json |safe }},
            types: {{ interaction_types_json |safe }},
            graph_rulesets: {{ graph_rulesets_json |safe}}
        };
    </script>
    <script type="text/javascript" src="{% static "js/creator/class_detail.bundle.js" %}"></script>
{% endblock %}
