{% extends "client/default.html" %}
{% load staticfiles %}
{% block title %}Clicker | Client{% endblock %}
{% block styles %}
    <link rel="stylesheet" media="all" href="{% static "css/lib/materialize/materialize.min.css" %}" />
    <link rel="stylesheet" media="all" href="{% static "css/client.css" %}" />
{% endblock %}
{% block content %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Clicker++</a>

            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/client/bubblesort">Bubble Sort</a></li>
                <li><a href="/client/gameoflife">Game of Life</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li class="active"><a href="/client/bubblesort">Bubble Sort</a></li>
                <li><a href="/client/gameoflife">Game of Life</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="card">
                    <div class="col s12" id="react-main">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <!--[if lt IE 9]><script src="{% static "components/jquery-legacy/jquery.min.js" %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="{% static "components/url-parser/purl.js" %}"></script>
    <script type="text/javascript" src="{% static "components/jquery-cookie/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "components/classnames/index.js" %}"></script>

    <script type="text/javascript" src="{% static "components/react/react-with-addons.js" %}"></script>
    <script type="text/javascript" src="{% static "components/materialize/dist/js/materialize.min.js" %}"></script>
    <script type="text/javascript">
        $('.button-collapse').sideNav({
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>

    <script type="text/javascript" src="{% static "js/client-bubblesort.min.js" %}"></script>
{% endblock %}
