.sortPanel {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    height: 100%;
}

.sortPanel h5 {
    padding-top: 10px;
    padding-bottom: 10px;
}

a.modal-trigger {
    text-decoration: underline;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.noMarginTop {
    margin-top: 0;
}

.max300 {
    max-width: 300px;
}

.waiting {
    vertical-align: top;
    padding-left: 6px;
}