{% extends "default.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/lib/materialize/materialize.min.css" %}" />
{% endblock %}
{% block content %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="left brand-logo">Clicker++</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/client/">Client</a></li>
                <li><a href="/observer/">Observer</a></li>
                <li><a class="dropdown-button" data-beloworigin="true"
                       href="#!" data-activates="dropdown1">Creator<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    {% if user.is_authenticated %}
                        <li><a href="/creator/">{{ user.username }}</a></li>
                        <li><a href="/logout/">Log out</a></li>
                    {% else %}
                        <li><a href="/login/">Log In</a></li>
                        <li><a href="/signup/">Register</a></li>
                    {% endif %}
                </ul>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/client/">Client</a></li>
                <li><a href="/observer/">Observer</a></li>
                <li class="divider"></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Creator</a>
                            <div class="collapsible-body">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <li><a href="/creator/">{{ user.username }}'s classes</a></li>
                                        <li><a href="/logout/">Log out</a></li>
                                    {% else %}
                                        <li><a href="/login/">Log In</a></li>
                                        <li><a href="/signup/">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="card">
                    <div class="col s12" id="react-main">
                        <h1>Landing Page</h1>
                    </div>
                </div>

            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>

    <footer class="page-footer {% block footer_class %}green lighten-2{% endblock %}">
        <div class="container">
            <div class="row">
                {% block footer_content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <!--[if lt IE 9]><script src="{% static "components/jquery-legacy/jquery.min.js" %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{% static "components/url-parser/purl.js" %}"></script>
    <script type="text/javascript" src="{% static "components/jquery-cookie/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "components/materialize/dist/js/materialize.min.js" %}"></script>
    <script type="text/javascript">
        $('.button-collapse').sideNav({
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

{% if messages %}
    {% for message in messages %}
        Materialize.toast('{{ message |escapejs }}', 3000);
    {% endfor %}
{% endif %}

    </script>
{% endblock %}
