{% extends "default.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/lib/materialize/materialize.min.css" %}" />
{% endblock %}
{% block content %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Clicker++</a>

            {% block nav_items %}
            {% endblock %}

            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="card">
                    {% block react_outlet %}
                    <div class="col s12" id="react-main">

                    </div>
                    {% endblock %}
                </div>

            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>

    <footer class="page-footer {% block footer_class %}yellow lighten-2{% endblock %}">
        <div class="container">
            <div class="row">
                {% block footer_content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <!--[if lt IE 9]><script src="{% static "components/jquery-legacy/jquery.min.js" %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{% static "components/url-parser/purl.js" %}"></script>
    <script type="text/javascript" src="{% static "components/jquery-cookie/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "components/classnames/index.js" %}"></script>

    <script type="text/javascript" src="{% static "components/react/react.js" %}"></script>
    <script type="text/javascript" src="{% static "components/materialize/dist/js/materialize.min.js" %}"></script>
    <script type="text/javascript">
        $('.button-collapse').sideNav({
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>
{% endblock %}
