{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Clicker | DEFAULT{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {# <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" /> #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block meta %}
        {% endblock %}

        {% block styles %}
        {% endblock %}

        {% block scripts_head %}
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>