{% extends "observer/default.html" %}
{% load staticfiles %}
{% block title %}Clicker | Observer{% endblock %}
{% block styles %}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/lib/materialize/materialize.min.css" %}" />
    <link rel="stylesheet" media="screen,projection" href="{% static "css/observer.css" %}" />
{% endblock %}
{% block scripts_head %}
{% endblock %}
{% block content %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Clicker++</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/observer/bubblesort">Bubble Sort</a></li>
                <li><a href="/observer/gameoflife">Game of Life</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/observer/bubblesort">Bubble Sort</a></li>
                <li><a href="/observer/gameoflife">Game of Life</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12" id="react-main">

                </div>
            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <!--[if lt IE 9]><script src="{% static "components/jquery-legacy/jquery.min.js" %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{% static "components/url-parser/purl.js" %}"></script>

    <script type="text/javascript" src="{% static "components/react/react.js" %}"></script>
    <script type="text/javascript" src="{% static "components/materialize/dist/js/materialize.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/observer-gameoflife.min.js" %}"></script>
{% endblock %}
