.sortItem {
    background: #000;
    width: 55px;
    color: white;
    text-align: center;
    margin: 2px;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
}

.sortCaption {
    width: 55px;
    text-align: center;
    margin: 2px;
    position: absolute;
    bottom: -25px;
}

.sortList {
    height: 250px;
    position: relative;
}

.sortFooter {
    position: absolute;
    bottom: -40px;
    text-align: center;
}

/* http://stackoverflow.com/a/8490961/1280997 */
.page-footer {
    bottom: 0;
    position: fixed;
    z-index: 150;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    /* height: 35px; */
    width: 100%;
}