.sortItem {
    background: #000;
    width: 40px;
    color: white;
    text-align: center;
    margin: 2px;
    position: absolute;
    bottom: 0;
}

.sortList {
    height: 150px;
    position: relative;
}