.sortItem {
    background: #000;
    width: 55px;
    color: white;
    text-align: center;
    margin: 2px;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
}

.sortCaption {
    width: 55px;
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
    position: absolute;
    bottom: -30px;
}

.sortList {
    height: 250px;
    position: relative;
    margin-bottom: 55px;
}

.sortFooter {
    position: absolute;
    bottom: -50px;
    font-size: 1.5em;
    text-align: center;
}

.gol {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #222;
    border: 1px ridge black;
    text-align: center;
    vertical-align: top;
}

.golDead {
    background: #ddd;
}

.golRow {
    height: 50px;
}

.golCornerSpacer {
    width: 30px;
    display: inline-block;
}

.golRowCaption {
    width: 30px;
    display: inline-block;
    font-size: 2em;
    height: 40px;
    text-align: center;
    vertical-align: super;
}

.golColumnCaption {
    width: 50px;
    display: inline-block;
    font-size: 2em;
    height: 40px;
    text-align: center;
/*    vertical-align: super; */
}

.personIcon, .androidIcon {
    font-size: 30px;
    margin-top: 7px;
}

.dead {
    transform: rotate(90deg) scale(0.7,1);
}

.material-icons {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
