{% extends "react_app.html" %}
{% load staticfiles %}

{% block title %}Index | Observer{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/observer.css" %}" />
{% endblock %}

{% block scripts_head %}
{% endblock %}

{% block nav_items %}
    {% include "nav.html" with app="observer" class_name="" %}
{% endblock %}

{% block react_outlet %}
    <div class="card-content">
        <span class="card-title activator flow-text grey-text text-darken-4">Clicker++ Observer</span>
        <p>Available classes:</p>
        <div class="row">
            <div class="col s12 m12 l10">
                <ul class="collection">
                    {% for class in class_list %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle green mdi-action-assessment"></i>
                            <span class="title">{{ class.long_name }}</span>
                            <p>Creator: {{ class.creator.user.username }}</p>
                            <p>Class is open for observation.</p>
                            <a href="/observer/{{ class.class_name }}/" class="secondary-content waves-effect waves-light btn">
                                <i class="mdi-action-game left"></i>
                                Observe
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_class %}
    teal darken-2
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# <script type="text/javascript" src="{% static "js/observer-index.min.js"></script> #}
{% endblock %}
