/* http://stackoverflow.com/a/8490961/1280997 */
.page-footer {
    bottom: 0;
    position: fixed;
    z-index: 150;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    /* height: 35px; */
    width: 100%;
}

.largeIcon {
    font-size: 6rem;
}

.container .section {
    padding-bottom: 0;
}

.dummy {
    height: 10rem;
}

@media screen and (min-width: 993px) {
    #toast-container {
        right: initial;
        left: 7%;
    }

    .toast {
        float: left !important;
        min-width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 90% !important;
        bottom: 6% !important;
        left: 5%;
    }
}