{% extends "react_app.html" %}
{% load staticfiles %}

{% block title %}Home | Clicker++{% endblock %}

{% block styles %}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/lib/materialize/materialize.min.css" %}" />
{% endblock %}

{% block nav_items %}
    {% include "nav.html" with app="home" %}
{% endblock %}

{% block react_outlet %}
    <h4>Clicker++</h4>
    <p class="flow-text">
        &lt;Insert some awe-inspiring description of this system here...&gt;.
    </p>
{% endblock %}

{% block extra_sections %}
<div class="section">
<div class="card-panel">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="hoverable center">
                <i class="material-icons purple-text largeIcon">devices</i>
                <h5>Client App</h5>
                <a href="/client/" class="btn waves-effect waves-light purple">Participate
                    <i class="material-icons right">smartphone</i>
                </a>
                <p class="light fixHeight">
                    Students with tablets, phones or laptops can use this site to
                    participate in Clicker++ classes.</p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="hoverable center">
                <i class="material-icons teal-text text-darken-2 largeIcon">remove_red_eye</i>
                <h5>Observer App</h5>
                <a href="/observer/" class="btn waves-effect waves-light teal darken-2">Observe
                    <i class="material-icons right">airplay</i>
                </a>
                <p class="light fixHeight">The observer application is for viewing a class live.
                It is intended to be ran on a projector, however it is available
                for all to access.</p>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="hoverable center">
                <i class="material-icons light-blue-text text-darken-3 largeIcon">create</i>
                <h5>Creator App</h5>
                {% if user.is_authenticated %}
                    <a href="/creator/" class="btn waves-effect waves-light blue darken-3">View classes
                        <i class="material-icons right">list</i>
                    </a>
                {% else %}
                    <a href="/login/">Log In</a> or
                    <a href="/signup/">Register</a>
                {% endif %}
                <p class="light fixHeight">The creator app allows educators to build and manage their own
                    classes.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block footer_class %}cyan darken-3{% endblock %}

{% block footer_content %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% block react_js %}{# Do not include React here #}{% endblock %}
{% endblock %}