{% extends "default.html" %}
{% load staticfiles %}
{% load website_filters %}

{% block styles %}
    <link rel="stylesheet" media="screen,projection" href="{% static "css/lib/materialize/materialize.min.css" %}" />
{% endblock %}
{% block content %}
    <nav class="indigo darken-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Clicker++</a>

            {% block nav_items %}
                {% include "nav.html" with app="?" %}
            {% endblock %}

            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>

    <div class="container">

        <div class="section">
            <div class="row">
                <div id="react-main" class="col s12">
                    <div class="card-panel hoverable">
                    {% block react_outlet %}

                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block extra_sections %}
        {% endblock %}
    </div>

    <div class="section dummy"></div>

    <footer class="page-footer {% block footer_class %}grey lighten-3{% endblock %}">
        <div class="container">
            <div class="row">
                {% block footer_content %}
                {% endblock %}
            </div>
        </div>
    </footer>
{% endblock %}
{% block scripts %}
    {# TODO use CDN in production #}

    <!--[if lt IE 9]><script src="{% static "components/jquery-legacy/jquery.min.js" %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <!--<![endif]-->
    {% block react_js %}
    <script type="text/javascript" src="{% static "components/react/react.js" %}"></script>
    {% endblock %}
    <script type="text/javascript" src="{% static "components/materialize/dist/js/materialize.min.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            $('.button-collapse').sideNav({
                closeOnClick: true
            });
            $('.modal-trigger').leanModal();
            $('.tooltip').tooltip({delay: 50});
            $('select').material_select();
            $('input.late-counter, textarea.late-counter').characterCounter();
        });

    {% if messages %}
        {% for message in messages %}
        Materialize.toast('{{ message |escapejs }}', 3000, '{{ message.tags |message_class }}');
        {% endfor %}
    {% endif %}
    </script>
{% endblock %}
